<div class="jumbotron">
<div class="row">
    <div class="col-md-8">
      <img src="{{media_url}}/images/logo/logo.png" class="rounded-circle img-100" alt="">
    </div>
    <div class="col-div-4">
      <form action="/search/" class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" name='q' type="search" placeholder="جستجو" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">جستجو</button>
      </form>
    </div> 
  </div>  
</div>