{% extends "maintemplate.html" %}

{% block title %}تاریخچه باغ فردوس{% endblock title %}

{% block content %}
    <img src="{{media_url}}/images/history/1.jpg" alt="ddd">
    <p>
        داستان باغ فردوس با عمارت‌های رنگین و شگفت‌انگیز در دل باغ‌هایی بزرگ، از آن‌هایی که تا چشم کار می‌کند باغ است و عمارت‌های باشکوه از زمان محمدشاه قاجار شروع شد!


همان زمانی که شاهان قاجار باغ‌های زیادی را در مناطق مختلف تهران و کرج می‌ساختند. باغ فردوس آن زمان شامل زمین‌های اسدآباد و ولنجک در شمال، الهیه در جنوب، تجریش از شرق و محمودیه از غرب بوده است!
این باغ از دوران قاجار تا کنون حسابی دست به دست چرخیده و هر زمان که دست یک مالک بوده، بخشی از آن تکمیل شده و البته در دست برخی از مالکان هم بی‌مهری‌هایی دیده است.


باغی که فضای مشجر و سرسبز آن دارای بخش‌ها و عمارت‌های مختلف بوده که مشهورترین آن‌ها همین عمارت موزه سینمای فعلی با معماری زیبا و شگفت‌انگیز است.


از تزئینات، گچ‌بری‌ها و آینه‌کاری‌های چشم‌نواز آن که بگذریم، نوع معماری باغ فردوس هم منحصر به فرد است که در ادامه بیشتر آن را بررسی خواهیم کرد.
    </p>
{% endblock content %}